.ramen-header {
    background-color: #926B25;
    font-family: monospace;
    padding: 8px;
}

.ramen-description {
    background-color: #BAADA1;
    font-family: monospace;
    padding: 8px;
}

.ramen-ingredients {
    background-color: #521C03;
    font-family: monospace;
    padding: 8px;
}

.ramen-steps {
    background: #F1DEC7;
    font-family: monospace;
    padding: 8px;
}

.ramen-footer {
    background-color: #E7C37D;
    font-family: monospace;
    text-align: center;
}

.pizza-header {
    background-color: #D4CAC6;
    font-family: monospace;
    padding: 8px;
}

.pizza-description {
    background-color: #A43212;
    font-family: monospace;
    padding: 8px;
}

.pizza-ingredients {
    background-color: #8B7B68;
    font-family: monospace;
    padding: 8px;
}

.pizza-steps {
    background-color: #E6B27A;
    font-family: monospace;
    padding: 8px;
}

.pizza-footer {
    background-color: #655643;
    font-family: monospace;
    text-align: center;
}
.food-title {
    text-align: center;
}

.food-header,
.food-content {
    padding: 5px;
}