.ramen-header {
    background-color: #926B25;
    font-family: monospace;
    padding: 8px;
}

.ramen-description {
    background-color: #BAADA1;
    font-family: monospace;
    padding: 8px;
}

.ramen-ingredients {
    background-color: #521C03;
    font-family: monospace;
    padding: 8px;
    color: white;
}

.ramen-steps {
    background: #F1DEC7;
    font-family: monospace;
    padding: 8px;
}

.ramen-footer {
    background-color: #E7C37D;
    font-family: monospace;
    text-align: center;
}

.pizza-header {
    background-color: #D4CAC6;
    font-family: monospace;
    padding: 8px;
}

.pizza-description {
    background-color: #A43212;
    font-family: monospace;
    padding: 8px;
}

.pizza-ingredients {
    background-color: #8B7B68;
    font-family: monospace;
    padding: 8px;
}

.pizza-steps {
    background-color: #E6B27A;
    font-family: monospace;
    padding: 8px;
}

.pizza-footer {
    background-color: #655643;
    font-family: monospace;
    text-align: center;
}

.tamales-header {
    background-color: #7D6336;
    font-family: monospace;
    padding: 8px;
}

.tamales-description {
    background-color: #603407;
    font-family: monospace;
    padding: 8px;
}

.tamales-ingredients {
    background-color: #260C03;
    font-family: monospace;
    padding: 8px;
    color: white;
}

.tamales-steps {
    background-color: #592201;
    font-family: monospace;
    padding: 8px;
}

.tamales-footer {
    background-color: #A56507;
    font-family: monospace;
    text-align: center;
}

.food-title {
    text-align: center;
}

.food-header,
.food-content {
    padding: 5px;
}

.intro-title {
    background-color: #D4CAC6;
    font-family: monospace;
    text-align: center;
}

.ramen-link {
    background-color: #926B25;
    font-family: monospace;
    text-align: left;
    font-size: large;
    padding: 20px;
}

.pizza-link {
    background-color: #A43212;
    font-family: monospace;
    text-align: left;
    font-size: large;
    padding: 20px;   
}

.tamales-link {
    background-color: #A56507;
    font-family: monospace;
    text-align: left;
    font-size: large;
    padding: 20px;
}